@model FindAFriend.Models.Profile

@{
    ViewData["Title"] = "Details";
}
<!--Version 2
    @{
        if (System.IO.File.Exists("~/Images/" + Model.UserID + ViewBag.Extension))
        {
            <img src="@("~/Images/"+ Model.UserID + ViewBag.Extension)" asp-append-version="true" width="250px" height="250px" style="border-radius : 50%; object-fit: cover" />
        }
        else
        {
            <img src="@("~/Images/default.jpg")" asp-append-version="true" width="250px" height="250px" style="border-radius : 50%; object-fit: cover" />
        }
    }-->
<div>
    <div style="display : table;">
        <div style="display : table-cell;">
            <img src="@("~/Images/" + Model.UserID + ViewBag.Extension)" asp-append-version="true" width="250px" height="250px" style="border-radius : 50%; object-fit: cover; float : left;" />
        </div>
        <div style="display : table-cell; padding : 0; float : left;">
            <a class="nav-link text-dark" asp-route-id="@Model.UserID" asp-area="" asp-controller="FriendRequests" asp-action="Create">Skicka Vänförfrågan</a>
            <dl class="row" style="margin-left : auto;">
                <dt class="col-sm-2">
                    Namn
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    Födelsedag
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Birthday)
                </dd>
                <dt class="col-sm-2">
                    Beskrivning
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    Stad
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserID)
                </dd>
            </dl>
        </div>
    </div>
    <hr />
    <form>
        <div>
            <div class="form-group">
                <input id="meddelandeText" type="text" style="height : 3em; width : 50%" />
                <input id="send" type="submit" value="Skicka Meddelande" class="btn btn-primary" />
            </div>
        </div>
        <dl id="meddelanden">
        </dl>
    </form>
</div>
@section Scripts {

    <script>
        $(() =>
            $(document).ready((e) => {


             $.ajax({
                 url: "/api/MessagesApi/loadmessages",
                 type: "GET",
                 data: { ProfileUser: "@Model.UserID" },
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (data) {
                     console.log(data);
                     var meddelandeLista = $("#meddelanden");
                     var jsonString = JSON.stringify(data);
                     var jsonObjects = JSON.parse(jsonString)
                     var getMessageList = jsonObjects.reverse();
                     for (var i = 0; i < getMessageList.length; i++) {
                         var obj = getMessageList[i];
                         var timeSent = obj["timeSent"].toString();
                         timeSent = timeSent.slice(0, 10) + " - " + timeSent.slice(11, 16);
                         var element = '<hr/>' + '<dt>' + obj["sender"] + ' : ' + timeSent + '</dt>' + '<br/>' + '<dd>' + obj["text"] + '</dd>' + '<br/>';
                         meddelandeLista.append(element);
                     }
                },
                error: function (error) {
                    console.log(`Error ${error}`);
                }
            });
         })
      );
    </script>

    <script>
      $(() =>
          $("#send").click((e) => {
             e.preventDefault();

            $.ajax({
                url: "/api/MessagesApi/postmessage",
                type: "POST",
                data: JSON.stringify({
                Text: $("#meddelandeText").val(), Recipient: "@Model.UserID" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                location.reload();           
                }
            });
         })
      );
    </script>
    
    <partial name="_ValidationScriptsPartial" />
}

