@model IEnumerable<FindAFriend.Models.Friends>
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Dina Vänner
            </th>
          <!----  <th>
                @Html.DisplayNameFor(model => model.FriendWith)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            @{ if (User.Identity.Name == item.User)
                {
                    item.User = item.FriendWith;
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <!----<td>
                @Html.DisplayFor(modelItem => item.FriendWith)
            </td>-->
            <td>
                <a asp-action="Edit" asp-route-id="@item.FriendshipID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FriendshipID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FriendshipID">Delete</a>
            </td>
                    
                
        </tr>
}
    </tbody>
</table>
